/* changing the font in everything */
*{
    font-family: 'Poppins', sans-serif;
}

body{
    padding: 0;
    margin: 0;
}

/* creating the tabs menu at the top with a border at the bottom */
.tabs{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 10px;
    padding: 0;
    border-bottom: 1px  solid black;
}

a{
    text-decoration: none;
    color: black;
}

/* setting up the tab buttons */
.tab{
    cursor: pointer;
    padding: 10px;
    letter-spacing: 1px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: bold;
}

/* making the icons on the tabs have space between the text and the icon */
.tab .fa-solid{
    margin-right: 10px;
}

/* making the icon light up orange when the cursor hovers on them */
.tab:hover .fa-solid{
    color: #ff7846;
}

/* setting the background of the tab that is active to change color */
.tab.active{
    background-color: #CCC;
}

/* setting the icon of the tab that is active to change color to orange */
.tab.active .fa-solid{
    color: #ff7846;
}

/* setting the tab to change color when cursor is hovering on it */
.tab:hover{
    background-color: #AAA;
}

/* setting for the tab contents */
.tab-content{
    margin-left: 20px;
    margin-right: 20px;
    /*
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: 0.2s;*/
}

.content-right{
    width: 49%;
    float: right;
    display: block;
    text-align: center;
}

.content-right img{
    width: 400px;
}

.content-left{
    width: 49%;
    float: left;
    display: block;
}

.content-left p{
    font-size: 20px;
    padding: 5px 0px;
}

.content-left a{
    width: 100px;
    padding: 8px 5px;
    border-radius: 20px;
    text-decoration: none;
    background-color: #ff7846;
    color: #fff;
    text-align: center;
}

.content-left hr{
    margin: 5px;
}

/* Specifically changing the image in the physical tab and not changing the other images*/
.physical img{
    width: 600px;
}

/* specifically changing the links in the work tab and not changing the other links*/
.work a{
    display: block;
}

/* specifically changing the width of the images in the work tab and  not changing the other images*/
.work img{
    width: 500px;
}

/* specifically changing the links in the work tab and not changing the other links*/
.coding a{
    display: block;
}

/* changing the width of all pictures in the coding tab */
.coding img{
    width: 450px;
}

/* adding padding to the qwirkle picture */
.qwirkle{
    padding: 10px;
}

/* adding padding to the facet picture */
.facet{
    padding: 10px;
}

/* changing the enigma picture padding and height specifically and leaving other pictures alone*/
.enigma{
    height: 350px;
    padding: 40px;
}

/* adding a hover affect to the link buttons so that they change color */
.link:hover{
    background-color: rgb(200, 0, 50);
}

/* adding hover affect to images so that the radius border changes*/
.image:hover{
    /*transform: scale(1.1);*/
    border-radius: 20%;
    transition: 1s ease;    
}
